* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #a3cef1;
    color: #e7ecef;
}

.content{
    margin: 50px;
    display: flex;
    justify-content: center;
}

/* .login-container{
    background-color: #274c77;
    width: 100vh;
    height: 60vh;
    border-radius: 4vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

h1{
    font-size: 48px;
}

/* form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 15px 0px;
    width: 85vh;
    height: 40px;
    padding: 15px;
    background-color: #e7ecef;
    border-color: #274c77;
    border-radius: 4px;
}

.login-button{
    height: 35px;
    background-color: #6096ba;
    border-radius: 4px;
    border: #a3cef1;
    color: #e7ecef;
    margin: 15px 0px;
} */

nav{
    padding: 5px;
    width: 100%;
    height: 10vh;
    background-color: #274c77;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_link{
    list-style: none;
}

.nav_link li {
    padding: 0px 50px;
}

.nav_link a{
    text-decoration: none;
    color: #e7ecef;
    font-weight: bold;
    height: fit-content;
    letter-spacing: 1.9px;
}

.nav_link a:hover {

    color: #4A3432;
    transition: 0.4s;

}

.logo{
    /* padding-right: 125px; */
    display: flex;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: #6096ba; */
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.dashboard-box{
    background-color: #8cacc8;
    width: 250px;
    height: 175px;
    margin: 15px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    color: #FFFF;
    font-size: 13px;
    justify-content: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logout-btn{
    width: 126px;
    height: 39px;
    background-color: #F49300;
    border: #F49300;
    border-radius: 4px;
    color: #F49300;
    margin: 15px 0px;
    font-size: 20px;
}
.customer-btn{
    margin-right: 15px;
    width: 126px;
    height: 39px;
    background-color: #F49300;
    border: #F49300;
    border-radius: 4px;
    color: #F49300;
    /* margin: 15px 0px; */
    font-size: 13px;
}
.row-donation{
    display: flex;
    justify-content: center;
}
.donation{
    background-color: #8cacc8;
    width: 650px;
    height: 370px;
    margin: 15px;
    padding: 10px;
    /* display: flex; */
    border-radius: 10px;
    color: #FFFF;
    font-size: 20px;
    /* justify-content: center; */
}
.donation-kinds{
    background-color: #8cacc8;
    width: 650px;
    height: 370px;
    margin: 15px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    color: #FFFF;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}
.row-adoption{
    background-color: #8cacc8;
    width: 650px;
    height: 370px;
    margin: 15px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    color: #FFFF;
    font-size: 20px;
    justify-content: center;
}
.dashboard-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.btn{
    display: flex;
    align-items: center;
}
p{
    font-size: 50px;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.chart-container {
    position: relative;
    width: 600px;
    height: 400px; /* Adjust this height as needed */
}
.adoption{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart-donations {
    position: relative;
    width: 600px;
    height: 400px; /* Adjust this height as needed */
}
.donation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart-kinds{
    position: relative;
    width: 300px;
    height: 300px; /* Adjust this height as needed */
}