* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #F49300;
    color: #F2F2F2;
}


/*nav bar*/

.nav_bar {
    display: flex;
    padding: 20px;
    flex-basis: 15%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #F2F2F2;
    font-size: 20px;
    flex-wrap: wrap;
    min-width: fit-content;

}

/*nav bar links*/
.nav_bar a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
    height: fit-content;
    letter-spacing: 1.9px;
}

.nav_bar a:hover {

    color: #282A2C;
    transition: 0.4s;

}


/*nav bar button*/
.right-navbar{
    display: flex;
    align-items: center;
}
.customer-btn{
    background-color: #47494D;
    color: #f2f2f2;
    font-weight: bold;
    border: 0;
    height: 50px;
    width: 110px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 13px;
}
.logout-btn{
    background-color: #47494D;
    color: #f2f2f2;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.right-navbar button:hover{
    background-color: #F2F2F2;
    color: #F49300;
    transition: 0.3s;

}


/*nav bar logo*/
#AduCatsLogo{
    height: 75px;
    margin-top: -10px;
}

/*left nav bar*/


.left-navbar a {
    margin-left: 50px;
}

/* .right-navbar a {
    margin-right: 50px;

} */

.right-navbar  {
    justify-content: right;

}

/*responsiveness of navbar*/



@media (max-width:1400px){
      
    .left-navbar, .right-navbar{
        margin: 20px;
        justify-content: center;
  

    }

    #adoptionlnk, #donatelnk{
        display: none;
        transition: 0.3s;
    }

    .left-navbar{
        display: flex;
        order:1;
        align-items: center;
        text-align: center;
        margin:0;
    
    }

    #profilelnk{
        font-size: 25px;
    }


    .right-navbar{
        order:3;
    }


  
      #AduCatsLogo {
          order:2;
          height: 80px;
          padding:0;
          transition: 0.5s;
      }



}


@media (max-width:1200px){
      
    .left-navbar{
        order: 2;
        

    }

    #adoptionlnk, #donatelnk, #recordslnk, #CatProflnk{
          display: none;
          
      }
      

      #AduCatsLogo {
          height: 80px;
          margin-right: 0;
          order: 1;
          padding:0;
          transition: 0.5s;
      }


      .nav_bar{
        justify-content: left;
      
      }


}


@media (max-width:900px){
   
   
    .left-navbar a  {
        display: none;
      }

      #Logoutlnk button{
        width: 100px;
      }

    
  
  
      #AduCatsLogo {
          height: 90px;
          transition: 0.4s;
          margin-right: 0;
          justify-content: left;
          text-align: left;
          transition: 0.6s;
  
      }

      
      .nav_bar{
        justify-content: center;
      
      }

}



/*content na ng catprofiles*/

/*container ng buong cat-profile*/
.overview{
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 28px;
}

/*container ng ibat ibang posa*/
.cat-table{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
;
}

/*container ng indiv posa*/
.cat{
    align-items: center;
    margin:3rem;

}

/*container ng indiv posa*/
.submissions{
    align-items: center;
    margin:3rem;

}

.catindiv{
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}

.indivsub{
    background-color: #4A3432;
    height: 250px;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    
}

/*picture ng indiv posa*/
.cat-cover{
    width:15rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 25px;
    border-radius: 180px;
    border: solid 5px #F2F2F2;
    box-shadow: 0 4px 10px #47494D;
    cursor: pointer;
   

}

/*yung info ng indiv posa*/

.cat-info{
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    text-align: center;
    line-height: 1.5;
    color: #f2f2f2;
   
}

.cat-info::placeholder{
    color: #F2F2F2;
    letter-spacing: 2px;
    

}


/*responsiveness ng Cat Pictures*/
@media (max-width:1200px){
  




    .cat{
   
        width: 13rem;
        height: 13rem;
        object-fit: cover;
        transition: 0.5s;
       
    }

    .cat-cover{
        width: 13rem;
        height: 13rem;
        object-fit: cover;
    }

    .cat-info{
        font-size: 16px;
    }
}

@media (max-width:800px){
    .cat{
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        transition: 0.5s;
       
    }

    .cat-cover{
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }

    .cat-info{
        font-size: 14px;
    }
}




/*page cat-info*/

/*container ng indiv posa bagong page*/
.info{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}









/*POPUP*/
.popup{
    width: 25rem;
    background-color: #47494D;
    border-radius: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 38%;
    box-shadow: 0 4px 10px #47494D;

    transform: translate( 5%, -77%) scale(0.1);
    visibility: hidden;
    transition: 0.4s;
}

/*PAG OPEN NG POPUP*/

.open-popup{
    visibility: visible;
    top: 20% ;
    transform:  scale(1);
}

/*PAG OPEN NG POPUP responsivness*/
@media (max-width:1200px) {
    .popup{
        width: 25rem;
        position: fixed;
        top:30%;
        left:30%;
    }

    .botCatInfo{
        width: 20rem;

        
    }

   
    
    
}

@media (max-width:800px) {

.popup{
    position: fixed;
    justify-content: center;
    top:40%;
    left: 16%;
}

.botCatInfo{
    width: fit-content;

    
}
.botCatInfo input::placeholder{
    font-size: 10px;
}

.botCatInfo label{
    font-size: 10px;
}



}


.popup button{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #FCFCF0;
    border-radius: 10px;
    border: 0;
    background-color: #F49300;
}

.popup button:hover{
    background-color: #282A2C ;
    color: #FCFCF0;
    transition: 0.2s;

}
/*Picture ng posa*/


.topImg{
    margin-top: -8rem;
    display: flex;
    flex-direction: column;

}

.cat-img{  
    width:10rem;
    height:10rem;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 180px;
    border: solid 5px #F49300;
    box-shadow: 0 4px 10px #47494D;
    align-self: center;
}



/*yung puting box*/


.botCatInfo{
    background-color: #FCFCF0;
    border-radius: 20px;
    color: #8F6C49;
    flex-direction: column;
    padding:40px;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 1.5;

}

.botCatInfo label{
    font-size: 15px;
    font-weight: bolder;
    width: 15rem;
    display: flex;
    letter-spacing: 0;
    
    
}


/*yung input na text infos ng pusa w/CatProfile*/
input[type='text']:not(.cat-info){
    font-size: 15px;
    background-color: transparent;
    border: transparent;
    line-height: 2;
    margin-left: 1rem;
    font-weight: bold;
    color: #F49300;
    letter-spacing: 1px;
}





/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #282A2C;
    color: #FCFCF0;
    font-size: 20px;
    padding: 10px;
    

}

/*yung pusang logo*/
#FooterLogo{
    width: 7rem;
}

.AduCatsLogo p, .AduCatsLogo img{
    align-self: center;
}


footer > div{
    display: flex;
    flex-direction: column;
    width: 20rem;
    text-align: left;
    line-height: 2;
    margin: 20px;

}

.Address p{
    margin: 0;
    align-items: start;
}

footer a{
    text-decoration: none;
    color: #f2f2f2;
   
}


.AduCatsLogo p{
    margin-top: 10px;
   
}
footer a:hover{

    color: #F49300;
    transition: 0.3s;

}

.ContactUs p{
    margin-top:0 ;
 }
 



/*footer responsivenss*/


@media(max-width:1200px){

    footer{
        font-size: 1rem;
        transition: 0.5s;
        justify-content: space-between;
    }
}
@media(max-width:800px){

    
    #FooterLogo{
        width: 4rem;
        transition: 0.5s;
       
        
    }
 
}

.row-cat{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.cat-image{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0px 10px 40px;
}
.cat-images{
    margin-right: 10px;
}
.add-btn{
    background-color: #47494D;
    border: 0;
    height: 50px;
    width: 120px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}
.add-btn a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
}