* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #f2f2f2;
}

.logo h1{
    font-size: 100px;
  }
  .logo{
    display: flex;
    color: #F49300;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .hline {
    width: 100%;  
    height: 3px;   
    background-color: #F49300;
  }
  h3 {
    padding: 3%;
    color: #a6a6a6;
    font-size: 24px;
  }
  .upper{
    display: flex;
    flex-direction: column;
  }
  input{
    height: 54px;
    width: 409px;
    padding: 0 10px;
    margin: 15px 0px;
    border-color: #8F6C49;
    border-radius: 4px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Two columns of equal size */
    grid-gap: 10px; /* Adjust spacing between elements */
    margin: 0% 0% 0% 10%;
  }
  .row {
    display: flex; /* Makes elements within the row side-by-side */
    align-items: center;
  }
  #emailAddress{
    margin-left: 10px;
  }
  #lastName{
    margin-left: 10px;
  }
  #suffix{
    margin-left: 10px;
  }
  #birthdate{
    margin-left: 10px;
  }
  #gender{
    margin-left: 10px;
  }
  #info-input{
    margin-left: 10px;
  }
  .btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0% 4% 0% 0%;
  }
  .edit{
    background-color: #6CCEE3;
    width: 168px;
    height: 76px;
    color: #FCFCF0;
    margin: 15px 0px;
    border-radius: 20px;
    border-color: transparent;
    margin-left: 60px;
  }
  .changePassword{
    background-color: #8F6C49;
    width: 168px;
    height: 76px;
    color: #FCFCF0;
    margin: 15px 0px;
    border-radius: 20px;
    border-color: transparent;
  }

  .submit{
    color: #FCFCF0;
    background-color: #F49300;
    width: 246px;
    height: 76px;
    margin: 15px 0px;
    border-radius: 20px;
    border-color: transparent;
  }
  select {
    width: 409px;
    height: 54px;
    padding: 0 10px;
    border: 1px solid #8F6C49;
    border-radius: 4px;
    color: #757575;
  }
  .comments{
    width: 1109px;
    height: 296px;
    border-radius: 4px;
    padding: 0 10px;
    margin: 15px 0px;
    border-color: #8F6C49;
  }
  .small-input {
    width: 240px; /* Adjust width as needed */
  }
  .submit-btn{
    display: flex;
    justify-content: center;
  }


input[type="radio"] {
  display: flex;
  width: 20px;
  height: 20px;
}

.row-radio{
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.no-click {
    pointer-events: none;
    color: #6d7d8b;
  }
