* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  font-family: "Aoboshi One", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #f2f2f2;
}



/*LOGO*/

.logo{
  height: 8rem;
  color: #F49300;
  border-bottom: solid 4px #F49300;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo img{
  margin-top:-12px;
}
.logo h1{
  font-size: 4rem;
  margin-left: 10px;
}


/*Adopt Form*/
.AdoptForm{
  display: flex;
  justify-content: center;

}

.AdoptForm h3{
  font-size: 30px;
  letter-spacing: 2px;
  color:#A6A6A6;
  margin-top: 20px;

}

.AdoptForm p{
  font-size: 20px;
  letter-spacing: 2px;
  color:#4b4b4b;
  margin-top: 20px;
  margin-bottom: 20px;

}
.grid-container{
  display: flex;
  margin:30px;
  flex-direction: column;
 
}

.row{
  display: flex;
  width: 43rem;
  justify-content: space-between;
 
  
}


/*yung mga input*/
.grid-container input{
  height: 2rem;
  border-radius: 5px;
  border: 2px solid #A6A6A6;
  width: 20rem;
  margin-bottom: 20px;
  justify-content: space-between;

}

.grid-container input::placeholder{
  letter-spacing: 2px;
  padding: 20px;
  opacity: 55%;
  
}

#birthdate{
  letter-spacing: 2px;
  padding: 20px;
  color: #A6A6A6;
  cursor: pointer;
  border-color: #A6A6A6;

}

.grid-container select{
  letter-spacing: 2px;
  color: #A6A6A6;
  height: 2rem;
  padding: 0 20px 0 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.PersonalInfo{
  margin-bottom: 20px;
}



.comments {
  user-select: none;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  
}


.comments::placeholder{
  color: #A6A6A6;
}



.cat{
  display: flex;
  align-items: center;

}


.submit-btn{
  display: flex;
  justify-content: center;
  align-self: center;
  padding-bottom: 20px;
}


.submit-btn button{
  height: 3rem;
  width: 30rem;
  border-radius: 10px;
  border: 0;
  background-color: #F49300;
  color: #f2f2f2;
  letter-spacing: 2px;
}

.submit-btn button:hover{
 background-color: #4b4b4b;
 color: #f2f2f2;
 transition: 0.2s;
}

/*Responsiveness*/

@media (max-width:1200px)
{
  

  .submit-btn button{
    width: 20rem;
    margin-left: -3rem;
    transition: 0.4s;

  }


}

@media (max-width:900px)
{
  .row{
    flex-wrap: wrap;
    width: 20rem;
    transition: 0.4s;
  }


}


/*form ng DONATION*/

.DonateForm{
  display: flex;
  justify-content: center;
  align-items: center;

}

.DonateForm form{
  width: 40rem;

}

.DonateForm h3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 2px;
  color:#A6A6A6;

}



.upper label, .lower label{

  letter-spacing: 2px;
  color:#4b4b4b;
  font-size: 20px;



}

.row-radio{

  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

}
.upper input[type="radio"],.lower input[type="radio"] {
  width:1.4rem;
  margin-bottom: 0;
}

.DonateForm input{
  height: 50px;

}

#receiverName{
  margin-top: 30px;
}








