

body{
    background-color: #f2f2f2;
}

/*nav bar*/

.nav_bar {
    display: flex;
    padding: 20px;
    flex-basis: 15%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #F49300;
    font-size: 23px;
    flex-wrap: wrap;
}

/*nav bar links*/
.nav_bar a {
    text-decoration: none;
    color: #F49300;
    font-weight: bold;
    height: fit-content;
    letter-spacing: 1.9px;
}

/*nav bar button*/

.right-navbar button{
    background-color: #47494D;
    color: #f2f2f2;
    font-weight: bold;
    border: 0;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.right-navbar button:hover{
    background-color: #F49300;
    color: #f2f2f2;
    transition: 0.3s;

}


/*nav bar logo*/
#AduCatsLogo{
    height: 75px;
    margin-top: -10px;
}

/*left nav bar*/


.left-navbar a {
    margin-left: 50px;
}

.right-navbar a {
    margin-right: 50px;

}

.right-navbar  {
    justify-content: right;

}

/*responsiveness of navbar*/

@media (max-width:1200px){
      
    .left-navbar{
        order: 2;
        

    }
      .right-navbar a{
          display: none;
          
      }
      
      .right-navbar button{
          display: none;
      }
  
      #AduCatsLogo {
          height: 80px;
          margin-right: 0;
          order: 1;
          padding:0;
          transition: 0.5s;
      }

      .nav_bar{
        justify-content: left;
      
      }


}


@media (max-width:900px){
   
   
    .left-navbar a  {
        display: none;
      }
  
      .right-navbar a{
          display: none;
      }
      
      .right-navbar button{
          display: none;
      }
  
      #AduCatsLogo {
          height: 90px;
          transition: 0.4s;
          margin-right: 0;
          justify-content: left;
          text-align: left;
          transition: 0.6s;
  
      }

      
      .nav_bar{
        justify-content: center;
      
      }

}



/*Homepage*/

.Homepage-Content{
   margin: 50px;
}

.Overview, .Information, .Links{
    display: flex;
}

/*orange button*/
.left-side-container button, .right-side-container button{
    height: 40px;
    width: fit-content;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    background-color: #F49300;
    color: #f2f2f2;
    border-radius: 4px;
    border: 0;
 }


/*left-side-Container*/


/*right-side-Container*/


/*Overview*/



/*PhotoSlider*/
.container{
    padding:2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 14/8;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

/*para kasya*/
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


.slider-nav{
    display:flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
}




/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #282A2C;
    color: #f2f2f2;
    font-size: 10px;
    padding: 10px;
    object-fit: cover;

}

footer div{
    display: flex;
}

footer p{
    padding-right: 20px;
}